body {
  background-color: WhiteSmoke;
}
h1 {
  color: SteelBlue;
  font-family: verdana;
  font-size: 80;
}
p {
  color: SteelBlue;
  font-family: verdana;
  font-size: 60;
  border: 20px solid powderblue;
}
